@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', FontAwesome, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

:root {
    --black: #232425;
    --orange: #d65c39;
}

h1 {
    font-size: 26px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 30px;
    padding: 50px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    text-align: center;
}

.input-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.input-login input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.input-login input:focus {
    border-color: black;
}

.input-login button {
    background-color: var(--orange);
    border-style: none;
    border-radius: 5px;
    padding: 15px 25px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.button-g {
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.button-exit {
    background-color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}